.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 90%;
}

table th,
table td {
  border: 1px solid black;
  padding: 4px;
  font-size: 70%;
}

textarea {
  width: 90%;
  height: 200px;
}
